<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486776043005-2mt54ifl2igsbob0vs3hoa33f8c1qb1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486776043005-2mt54ifl2igsbob0vs3hoa33f8c1qb1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBMX55rjLTveXupo2SOOXO4WudrdfOFoX4</string>
	<key>GCM_SENDER_ID</key>
	<string>486776043005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Citas</string>
	<key>PROJECT_ID</key>
	<string>citas-95b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>citas-95b1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486776043005:ios:f3ef925b994cfff4155594</string>
</dict>
</plist>